@import "./variables.scss";

.card {
    min-width: 250px;
    border-radius: 4px;
    padding: 15px 17px 23px 15px;

    &.empty-card {
        display: flex;
        align-items: center;
        justify-content: center;
        border: dashed 1px rgba(187, 196, 195, 0.5);
    }

    .empty-card__content {
        p {
            margin: 0.5em 0 0 0;
        }

        text-align: center;
        color: rgba($theme-color-1, 0.5)
    }

    &:hover {
        cursor: pointer;
        border-color: $theme-color-1;
    }
}