@import "./header.scss";
@import "./navigation.scss";
@import "./seachBar.scss";
@import "./usersList.scss";
@import "./cards.scss";
@import "./components/contactDetails.scss";
@import "./components/nameBar.scss";
@import "./components/nameBarMobile.scss";
@import "./components/nameBar.scss";
@import "./components/iconsBarMobile.scss";
@import "./components/profile-photo.scss";
@import "./components/contactForm.scss";

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: $theme-font;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.app__content {
    margin: auto;
    width: 90vw;
}