@import "./variables.scss";

.navigation__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 50px;
    margin:0;
    border-bottom: solid 1.5px $theme-color-1;

    a:-webkit-any-link {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
    }

    .nav-item {
        text-decoration: none;
        font-weight: 700;
        font-family: $theme-font;
        font-size: 14px;
        font-size: 18px;
        color: #BBC4C3;

        &.active {
            color: $theme-color-1;
        }
    }

    .item-1 {
        border-right: 0.70px solid #BBC4C3;
        padding-right: 31.5px;
    }

    .item-2 {
        padding-left: 31.5px;
    }


}